/* Orange #ffaf01 Blue #0051FF*/


/* ===== Selection Styling ===== */
::selection,
::-moz-selection {
    background-color: var(--color-selection);
    color: var(--color-background);
}

/* ===== Baseline Styles ===== */
*,
:after,
:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    font-optical-sizing: auto;
    font-size: 22px;
    font-weight: 400;
    font-variation-settings: 'wght' 400;
    letter-spacing: -0.01em;
    color: var(--color-text);
    background-color: var(--color-background);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    width: 100%;
    height: 100%;
}

body,
html {
    height: 100%;
    font-family: var(--fontstring);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.card {
    background-color: var(--color-card);
    padding: 1rem;
    overflow-y: scroll;
}

.card__text,
.card__carousel,
.card__item {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card__header {
    display: flex;
    justify-content: space-between;
    /* text-align: right; */
    padding-bottom: 0.5rem;
}

.card__text {
    font-size: 0.85em;
}

.card__text a,
.card__header a,
.card__item a {
    text-decoration: none;
    color: var(--color-text);
}

.card__header,
.card__carousel {
    border-bottom: var(--border);
}

.card__carousel img {
    width: 100%;
    border-radius: var(--border-radius);
}

.carousel__wrapper {
    position: relative;
    width: 100%;
}

.carousel__image {
    width: 100%;
    aspect-ratio: var(--image-aspect-ratio);
    object-fit: cover;
    border-radius: var(--border-radius);
    display: none;
}

.carousel__image.active {
    display: block;
}

.carousel__arrow {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--color-text);
    cursor: pointer;
    background-color: var(--color-card);
    padding: 0.5rem;
    border-radius: calc(var(--border-radius)/3);
    user-select: none;
    opacity: 0;
    transition: opacity 0.2s;
}

.card__item,
.card__text {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: var(--border);
}

.card__item:last-child {
    border-bottom: none;
}

.card__item a {
    font-weight: 500;
}

.card__item a[target="_blank"]::after {
    content: " ↗"
}

/* Mobile-first: For mobile devices */
.card {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border-radius: 0;
}

.carousel__wrapper:has(.carousel__image:nth-child(2)) .carousel__arrow {
    opacity: 1;
}

/* Desktop styles */
@media (min-width: 600px) {
    body {
        font-size: 25px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .container {
        height: 100vh;
    }

    .card {
        width: var(--card-width);
        height: auto;
        min-height: 66vh;
        max-height: calc(100vh - 6rem);
        margin: 3rem 0;
        border-radius: 1.5rem;
    }

    .carousel__wrapper:has(.carousel__image:nth-child(2)) .carousel__arrow {
        opacity: 0;
    }

    .carousel__wrapper:has(.carousel__image:nth-child(2)):hover .carousel__arrow {
        opacity: 1;
    }

}

@media (min-width: 2000px) {
    body {
        font-size: 36px;
    }

    .card {
        width: calc(var(--card-width)*1.5);
    }
}
